.app-container {
  height: calc(100vh - 80px);
}

.app-header {
  z-index: 99999;
}

.transactions-sticky-week-divider {
  position: sticky;
  top: 0;
  font-weight: bold;
  z-index: 10; /* Keep it above content */
}
